services:

  postgres:
    image: postgres
    environment:
      POSTGRES_USER: "{{ POSTGRES_USER | default('semaphore') }}"
      POSTGRES_PASSWORD: "{{ POSTGRES_PASSWORD | default('gtp4l23ho6') }}"
      POSTGRES_DB: "{{ POSTGRES_DB | default('semaphore') }}"
    volumes:
      - semaphore_postgres:/var/lib/postgresql/data
    networks:
      - semaphore_network

  semaphore:
    container_name: semaphore
    hostname: semaphore
    image: semaphoreui/semaphore:{{ semaphoreui_version }}
    ports:
     - "{{ semaphore_port | default('3000') }}:{{ semaphore_port | default('3000') }}"
    depends_on:
      - postgres
    environment:
      SEMAPHORE_DB_DIALECT: "{{ SEMAPHORE_DB_DIALECT | default('postgres') }}"
      SEMAPHORE_DB_HOST: "{{ SEMAPHORE_DB_HOST | default('postgres') }}"
      SEMAPHORE_DB_NAME: "{{ SEMAPHORE_DB_NAME | default('semaphore') }}"
      SEMAPHORE_DB_USER: "{{ SEMAPHORE_DB_USER | default('semaphore') }}"
      SEMAPHORE_DB_PASS: "{{ SEMAPHORE_DB_PASS | default('gtp4l23ho6') }}"
      SEMAPHORE_ADMIN: "{{ SEMAPHORE_ADMIN | default('admin') }}"
      SEMAPHORE_ADMIN_PASSWORD: "{{ SEMAPHORE_ADMIN_PASSWORD | default('insecure') }}"
      SEMAPHORE_ADMIN_NAME: "{{ SEMAPHORE_ADMIN_NAME | default('admin') }}"
      SEMAPHORE_ADMIN_EMAIL: "{{ SEMAPHORE_ADMIN_EMAIL | default('admin@example.com') }}"
      SEMAPHORE_PORT: "{{ SEMAPHORE_PORT | default('3000') }}"
      SEMAPHORE_INTERFACE: "{{ SEMAPHORE_INTERFACE | default('SEMAPHORE_INTERFACE') }}"
      SEMAPHORE_TMP_PATH: "{{ SEMAPHORE_TMP_PATH | default('SEMAPHORE_TMP_PATH') }}"
      SEMAPHORE_GIT_CLIENT: "{{ SEMAPHORE_GIT_CLIENT | default('go_git') }}"
      SEMAPHORE_WEB_ROOT: "{{ SEMAPHORE_WEB_ROOT | default('SEMAPHORE_WEB_ROOT') }}"
      MAX_TASK_DURATION_SEC: "{{ MAX_TASK_DURATION_SEC | default('MAX_TASK_DURATION_SEC') }}"
      SEMAPHORE_MAX_PARALLEL_TASKS: "{{ SEMAPHORE_MAX_PARALLEL_TASKS | default('SEMAPHORE_MAX_PARALLEL_TASKS') }}"
      SEMAPHORE_PASSWORD_LOGIN_DISABLED: "{{ SEMAPHORE_PASSWORD_LOGIN_DISABLED | default('False') }}"
      SEMAPHORE_NON_ADMIN_CAN_CREATE_PROJECT: "{{ SEMAPHORE_NON_ADMIN_CAN_CREATE_PROJECT | default('False') }}"
      SEMAPHORE_MAX_TASKS_PER_TEMPLATE: "{{ SEMAPHORE_MAX_TASKS_PER_TEMPLATE | default('SEMAPHORE_MAX_TASKS_PER_TEMPLATE') }}"
      SEMAPHORE_APPS: "{{ SEMAPHORE_APPS | default('SEMAPHORE_APPS') }}"
      SEMAPHORE_ENV_VARS: "{{ SEMAPHORE_ENV_VARS | default('SEMAPHORE_ENV_VARS') }}"
      SEMAPHORE_FORWARDED_ENV_VARS: "{{ SEMAPHORE_FORWARDED_ENV_VARS | default('SEMAPHORE_FORWARDED_ENV_VARS') }}"
      SEMAPHORE_DB_OPTIONS: "{{ SEMAPHORE_DB_OPTIONS | default('SEMAPHORE_DB_OPTIONS') }}"
      SEMAPHORE_COOKIE_HASH: "{{ SEMAPHORE_COOKIE_HASH | default('SEMAPHORE_COOKIE_HASH') }}"
      SEMAPHORE_COOKIE_ENCRYPTION: "{{ SEMAPHORE_COOKIE_ENCRYPTION | default('SEMAPHORE_COOKIE_ENCRYPTION') }}"
      SEMAPHORE_ACCESS_KEY_ENCRYPTION: "{{ SEMAPHORE_ACCESS_KEY_ENCRYPTION | default('EMAPHORE_ACCESS_KEY_ENCRYPTION') }}"
      SEMAPHORE_TOTP_ENABLED: "{{ SEMAPHORE_TOTP_ENABLED | default('False') }}"
      SEMAPHORE_TOTP_ALLOW_RECOVERY: "{{ SEMAPHORE_TOTP_ALLOW_RECOVERY | default('False') }}"
      SEMAPHORE_EMAIL_SENDER: "{{ SEMAPHORE_EMAIL_SENDER | default('SEMAPHORE_EMAIL_SENDER') }}"
      SEMAPHORE_EMAIL_HOST: "{{ SEMAPHORE_EMAIL_HOST | default('SEMAPHORE_EMAIL_HOST') }}"
      SEMAPHORE_EMAIL_PORT: "{{ SEMAPHORE_EMAIL_PORT | default('SEMAPHORE_EMAIL_PORT') }}"
      SEMAPHORE_EMAIL_USERNAME: "{{ SEMAPHORE_EMAIL_USERNAME | default('SEMAPHORE_EMAIL_USERNAME') }}"
      SEMAPHORE_EMAIL_PASSWORD: "{{ SEMAPHORE_EMAIL_PASSWORD | default('SEMAPHORE_EMAIL_PASSWORD') }}"
      SEMAPHORE_EMAIL_SECURE: "{{ SEMAPHORE_EMAIL_SECURE | default('False') }}"
      SEMAPHORE_LDAP_ENABLE: "{{ SEMAPHORE_LDAP_ENABLE | default('False') }}"
      SEMAPHORE_LDAP_BIND_DN: "{{ SEMAPHORE_LDAP_BIND_DN | default('SEMAPHORE_LDAP_BIND_DN') }}"
      SEMAPHORE_LDAP_BIND_PASSWORD: "{{ SEMAPHORE_LDAP_BIND_PASSWORD | default('SEMAPHORE_LDAP_BIND_PASSWORD') }}"
      SEMAPHORE_LDAP_SERVER: "{{ SEMAPHORE_LDAP_SERVER | default('SEMAPHORE_LDAP_SERVER') }}"
      SEMAPHORE_LDAP_SEARCH_DN: "{{ SEMAPHORE_LDAP_SEARCH_DN | default('SEMAPHORE_LDAP_SEARCH_DN') }}"
      SEMAPHORE_LDAP_SEARCH_FILTER: "{{ SEMAPHORE_LDAP_SEARCH_FILTER | default('SEMAPHORE_LDAP_SEARCH_FILTER') }}"
      SEMAPHORE_LDAP_NEEDTLS: "{{ SEMAPHORE_LDAP_NEEDTLS | default('SEMAPHORE_LDAP_NEEDTLS') }}"
      SEMAPHORE_LDAP_MAPPING_DN: "{{ SEMAPHORE_LDAP_MAPPING_DN | default('SEMAPHORE_LDAP_MAPPING_DN') }}"
      SEMAPHORE_LDAP_MAPPING_MAIL: "{{ SEMAPHORE_LDAP_MAPPING_MAIL | default('SEMAPHORE_LDAP_MAPPING_MAIL') }}"
      SEMAPHORE_LDAP_MAPPING_UID: "{{ SEMAPHORE_LDAP_MAPPING_UID | default('SEMAPHORE_LDAP_MAPPING_UID') }}"
      SEMAPHORE_LDAP_MAPPING_CN: "{{ SEMAPHORE_LDAP_MAPPING_CN | default('SEMAPHORE_LDAP_MAPPING_CN') }}"
      SEMAPHORE_TELEGRAM_ALERT: "{{ SEMAPHORE_TELEGRAM_ALERT | default('False') }}"
      SEMAPHORE_TELEGRAM_CHAT: "{{ SEMAPHORE_TELEGRAM_CHAT | default('SEMAPHORE_TELEGRAM_CHAT') }}"
      SEMAPHORE_TELEGRAM_TOKEN: "{{ SEMAPHORE_TELEGRAM_TOKEN | default('SEMAPHORE_TELEGRAM_TOKEN') }}"
      SEMAPHORE_SLACK_ALERT: "{{ SEMAPHORE_SLACK_ALERT | default('False') }}"
      SEMAPHORE_SLACK_URL: "{{ SEMAPHORE_SLACK_URL | default('SEMAPHORE_SLACK_URL') }}"
      SEMAPHORE_ROCKETCHAT_ALERT: "{{ SEMAPHORE_ROCKETCHAT_ALERT | default('False') }}"
      SEMAPHORE_ROCKETCHAT_URL: "{{ SEMAPHORE_ROCKETCHAT_URL | default('SEMAPHORE_ROCKETCHAT_URL') }}"
      SEMAPHORE_MICROSOFT_TEAMS_ALERT: "{{ SEMAPHORE_MICROSOFT_TEAMS_ALERT | default('False') }}"
      SEMAPHORE_MICROSOFT_TEAMS_URL: "{{ SEMAPHORE_MICROSOFT_TEAMS_URL | default('SEMAPHORE_MICROSOFT_TEAMS_URL') }}"
      SEMAPHORE_DINGTALK_ALERT: "{{ SEMAPHORE_DINGTALK_ALERT | default('False') }}"
      SEMAPHORE_DINGTALK_URL: "{{ SEMAPHORE_DINGTALK_URL | default('SEMAPHORE_DINGTALK_URL') }}"
      SEMAPHORE_GOTIFY_ALERT: "{{ SEMAPHORE_GOTIFY_ALERT | default('False') }}"
      SEMAPHORE_GOTIFY_URL: "{{ SEMAPHORE_GOTIFY_URL | default('SEMAPHORE_GOTIFY_URL') }}"
      SEMAPHORE_GOTIFY_TOKEN: "{{ SEMAPHORE_GOTIFY_TOKEN | default('SEMAPHORE_GOTIFY_TOKEN') }}"
      ANSIBLE_HOST_KEY_CHECKING: "{{ ANSIBLE_HOST_KEY_CHECKING | default('True') }}"
    volumes:
      - semaphore_data:/var/lib/semaphore
      - semaphore_config:/etc/semaphore
      - semaphore_tmp:/tmp/semaphore
    networks:
      - semaphore_network

volumes:
  semaphore_data:
  semaphore_config:
  semaphore_tmp:
  semaphore_postgres:

networks:
  semaphore_network:
    driver: "bridge"